<!-- When the form is submitted the browser needs to know, the method and the url to which the form was submitted to -->
<form method="post" action="/contacts">
    <div>
        <label>Email</label>
        <input type="email" name="email">    
    </div>
    <div>
        <label>Name</label>
        <input type="text" name="name">
    </div>
    <div>
        <label>How can we help?</label>
        <textarea name="enquiry"></textarea>
    </div>
    <div>
        <button>Submit Contact Form</button>
    </div>
</form>